@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

header{
    background-color: hsl(var(--background));
    padding: 24px 4%;
    position: sticky;
    top: 0;
    z-index: 1;
    
    .navbar{
        display: flex;
        justify-content: center; 
        align-items: center;
        position: relative;

        
        .brand-group {
                display: flex;
                align-items: center;
                justify-content: center; 
                width: 100%;             
                position: relative;      
    
                flex-direction: row;     
            }

            .logo {
                width: 70px;
                position: absolute;      
                left: 0;                 
            }

        p{
            font-family: Playfair Display, serif;
            font-size: 1.5rem;
            font-weight: 700;
            color: hsl(var(--secondary));
        }
        
        .logo{
            width: 70px;
        }

        ul{
           display: none;
            list-style: none;
            flex-direction: column;
            background-color: hsl(var(--background));
            padding: 1rem;
            gap: 1rem; /* Ajuste o espaçamento entre os links se quiser */

            /* --- MUDANÇAS AQUI --- */
    
            position: absolute;
            
            /* 1. Cola o menu logo abaixo do texto/logo */
            top: 100%; 
            
            /* 2. Empurra para baixo exatamente o tamanho do padding do header (24px) 
            para alinhar com a borda branca */
            margin-top: 15px; 
            
            /* 3. Força a largura total da tela (ignorando o padding do pai) */
            width: 100vw; 
            
            /* 4. Centraliza essa barra larga para cobrir os dois lados igualmente */
            left: 50%;
            transform: translateX(-50%);

            &.show{
                display: flex;
            }

            li{
                text-align: center;

                a{
                    color: hsl(var(--secondary));
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    &:hover{
                        color: hsl(var(--gold));
                        border-bottom: 1px solid hsl(var(--gold));
                }   
            }
        }
    }
        .btn-default{
            display: none;
            font-size: 0.7rem;
        }

        .btn-mobile {
            position: absolute;
            right: 0;             
        }

    }   
}
    
@media(min-width: 768px){
    header{

        padding: 12px 4%;

        .navbar{

            justify-content: space-between;
           
            .brand-group {
                width: auto;      
            }

            .logo {
                position: static; 
            }

            ul{
                display: flex;
                position: static;
                flex-direction: row;
                gap: 1rem;
                width: auto;
                padding: 0;
                
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }

           
            .btn-default{
                display: block;
            }

            .btn-mobile{
                display: none;
            }
        }   
    }
}
