@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import './variables.css';

@import './navbar.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;    
}

a.btn{
    text-decoration: none;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}

.btn-mobile{
    font-size: 1.5rem;
}

.btn-default{
    color: hsl(var(--primary));
    transition: background-color 0.3s ease;
    transition: all 0.2s ease;
    
    &:hover{
        color: hsl(var(--gold));
        border-bottom: 1px solid hsl(var(--gold));
        border-radius: 0px;
    }
}

.btn-outlined{
    border: 2px solid hsl(var(--primary));
    background-color: hsl(var(--primary));
    color: hsl(var(--background));
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover{
        background-color: transparent;
        color: hsl(var(--primary));
    }
}

.subtitle-home{
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        color: hsl(var(--secondary));
        margin-top: 130px;
        opacity: 0.8;
        font-weight: 250;
    }


h2{

    &.title-section{
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: clamp(1.5rem, 5vw, 4.3rem);
        text-transform: uppercase;
        color: hsl(var(--primary));
        margin-top: 0px;
        font-weight: 200;
        line-height: 1;
        max-width: 500px;
    }

    &.title-home{
        font-family: 'Playfair Display', serif;
        font-size: 1rem;
        color: hsl(var(--secondary));
        margin-top: 10px;
        font-weight: 500;
        max-width: 600px;
        text-align: center;
        opacity: 0.9;
        margin: 0px;
    }
}

.title-home{
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: clamp(2rem, 5vw, 4.3rem);
        text-transform: uppercase;
        color: hsl(var(--primary));
        margin-top: 5px;
        font-weight: 400;
        line-height: 1.2;
        max-width: 700px;
}

.title{
        font-family: 'Inter', sans-serif;
        font-size:2rem;
        text-transform: uppercase;
        color: hsl(var(--primary));
        font-weight: 200;
        margin-top: 7px;
        position: relative;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 60px;
            height: 4px;
            background-color: hsl(var(--gold));
            bottom: 0px;
            border-radius: 30px;
        }

}

#inicio{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, vw, 32px);
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.616), rgb(255, 255, 255)), 
        url(../assets/unnamed.jpg);
    background-size: clamp(100%, 1600px, 2000px); 
    background-position: 80%;
    background-repeat: no-repeat;
    
    
    .home-image{
        width: clamp(300px, 50%, 400px);
    }
    
    .home-actions{
        display: flex;
        margin-top: 12px;
        gap: 12px;
    }
}

#container{
    background-color: hsl(var(--background));
}

#trending{
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards{

        position: relative;

        img{
            width: clamp(300px, 5vw, 600px);
            border-radius: 10px;
            object-fit: cover;
        }

        .trending-card-description{
            display: flex;    
            flex-direction: column;
            text-align: center;
            font-size: 1.3rem;
            color: hsl(var(--primary));
            margin-top: 12px;
            font-weight: 200;
        }
    }
}

@media (min-width: 768px){
    #trending{
        .trending-cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }
}
    