:root{
    --background:	40 20% 98%;
    --foreground:	0 0% 8%;
    --primary:	0 0% 8%;
    --secondary:	30 5% 25%;
    --muted:	30 10% 92%;	
    --accent:	38 35% 75%;	
    --gold:	38 45% 65%;	
    --gold-light:	38 30% 85%;	
}